@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --font-default:"Poppins", sans-serif;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Cardo", sans-serif;
  --main-color: #fff;

  
}
body {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: 700;
  
}
/* Start nav */
.header{
  background: url(../image/1.png);
  color: var(--main-color);
  background-repeat: no-repeat;  
    }
.nav a {
  color: var(--main-color)  ;

}
li.nav-item{
  margin:auto 7px;
}
.button-box button{
  background: #7e7ae6;
  
  color: var(--main-color);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
/* End nav */
/* start inner-header */
.inner-box-header button,h2,p{
  color: var(--main-color);
  
}
.inner-box-header h2
{
  letter-spacing: 2px;
}
.inner-box-header P{
  font-size: 15px;
}
.header-box-button button{
  font-size: 12px;
  letter-spacing: 2px;
}
.btn1{
  background-color: #7c77f7;
  
}
.btn1::before{
  content: '';
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  transform: scale(1,0.5);
}
.btn1:hover{
  background:#222222;
}
.btn2{
  border: 2px solid var(--main-color);
}
/* end inner-header */


/* start logo-section */
.logo-section{
 
}
/* end logo-section */